@{
    ViewData["Title"] = "Home Page";
}

<head>
	<style>
        #categorias {
            width: 100%;
            left: 0%;
            display: inline-block;
            text-align: center;
            position: relative;
        }

        #titulo1 {
            height: -25px; /* alto*/
            padding: -10px;
            background-color: z;
            border-radius: 1em;
            color: black;
            text-align: center;
            margin: 1em;
        }

        #Contenido {
            max-width: 100%;
            position: relative;
            top: -20px;
            margin: 0 auto;
            padding: 2%;
        }

            #Contenido header {
                height: 120px; /* alto*/
                padding: 10px;
                background-color:;
                border-radius: 1em;
                color: black;
                text-align: center;
            }

        #Principal {
            margin-left: 10px;
            width: 20%; /*ancho*/
            float: left; /* ubicar a la izq*/
            padding: 20px; /*espaciado*/
        }

            #Principal img {
                border-radius: 10px;
            }

        #Secundaria {
            width: 20%; /*ancho*/
            float: left; /* ubicar a la izq*/
            padding: 20px; /*espaciado*/
        }

            #Secundaria img {
                border-radius: 10px;
            }

        #terceriario {
            width: 20%; /*ancho*/
            float: left; /* ubicar a la izq*/
            padding: 20px; /*espaciado*/
        }

            #terceriario img {
                border-radius: 10px;
            }

        #Contenido aside {
            width: 20%; /*ancho*/
            float: left;
            padding: 4px; /*espaciado*/
        }

        #Contenido footer {
            width: 100%;
            clear: both;
            height: 100px; /* alto*/
            padding: 10px;
            background-color:;
            border-radius: 1em;
            color: black;
            text-align: center;
        }
	</style>
</head>

<div id="Contenido">
    <header id="bienvenida">
        <h1>BIENVENIDOS</h1>
        <small>Bienvenidos a la pagina de ISI Network donde puedes encontrar los programas que manejamos <br>y solucionar tus dudas con estos mismos.</small>
    </header>

    <div id="categorias">
        <h2 id="titulo1">CATEGORIAS</h2>
        <section id="Principal">
            <a href=""><img src=""></a>
            <h2>SAP</h2>
        </section>
        <section id="Secundaria">
            <a href=""><img src=""></a>
            <h2>SAP Business One</h2>
        </section>
        <section id="terceriario">
            <a href=""><img src=""></a>
            <h2>Crystal Reports</h2>
        </section>
    </div>
    <footer id="footer">
        <h2>Sobre nosotros</h2>
        <p>ISI Network es una empresa que estra especializada en SAP [...]</p>
    </footer>
</div>